.button-plus{
    color: black;
}

.button-plus:hover {
    color: grey;
}

.threenavbar {
    margin-bottom: 70px;
    width: 35%;
}

footer { 
    background-color: #EEEEEE;
    padding-top: 20px;
    padding: 10px 10px;
}

.social a {
    color: black;
}

.list-black {
    color: black;
}

.body-todo {
    width: 50%;
    margin-bottom: 100px;
}

.your-task {
    font-family: 'Geologica', sans-serif;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

.header {
    background-image: url(bg-color.jpg);
    padding-top: 50px;
    padding-bottom: 0;
}

.tasktamer {
    font-family: 'Geologica', sans-serif;
    font-weight: bolder;
    font-size: 50px;
}

.tanggal {
    background-color: #F7C8E0;
    font-size: small;
}

.jam { 
    background-color: #FFBFA9 ;
    font-size: small;
}

.threefooter {
    font-size: small;
}

.copyright {
    font-size: small;
}